<section class="h-100">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0">Carrinho de Compras</h3>
          </div>
          {loop="$products"}
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{$value.name}</p>
 
                  <small>{$value.description}</small>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <button data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-danger" onclick="window.location.href = '/cart/{$value.id}/minus'">
                    <i class="fas fa-minus">-</i>
                  </button>
                  &nbsp;
                  <input id="form1" min="0" name="quantity" value="{$value.quantity}" type="number" class="form-control form-control-sm">
                  &nbsp;
                  <button data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-success" onclick="window.location.href = '/cart/{$value.id}/addFromCart'">
                    <i class="fas fa-plus">+</i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">R${$value.subtotal_price}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a href="/cart/{$value.id}/remove" class="text-danger">Remover<i class="fas fa-trash fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          {/loop}  


          <div class="card">
            <div style="display: flex; justify-content:space-between" class="card-body">
              <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-warning btn-block btn-lg">Pagar</button>
              <div>
                <span>            <p>Total: <b>R${$total_cart_price}</b></p></span>
              </div>
            </div>
          </div>
 
        </div>
      </div>
    </div>
  </section>